@import "./dist/scss/variables.scss";

//Importando as fonts do google, basta colocar no google, google fonts, ai cliquei e pegues estas 3 fints, 300,400,700
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
  font-weight: 400;
}

//Olha que legal, eu importei a cor, primary-background-color, que foi declarada em variables.scss
body {
  background: $primary-background-color;
}
ul {
  list-style: none;
}

ul {
  list-style: none;
}

textarea:focus,
input:focus,
button {
  outline: none;
}

button {
  cursor: pointer;
}

//Classes
.container {
  width: 350px;
  margin: 50px auto;
}
